@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


.slick-dots li button:before{
    color: green !important;
    font-size: 0.7rem !important;
}
.slick-dots li.slick-active button:before{
    color: green !important;
}